body {
  height: 3000px;
}
a {
  text-decoration: none;
}
img {
  width: auto;
  height: 200px;
  box-sizing: border-box;
}
header {
  background-color: yellowgreen;
  font-size: 32px;
  font-weight: bold;
  width: auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 16px;
}
li {
  margin: 12px;
  font-size: 12px;
}
